---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { isPostPublished } from "../../consts";

const posts = (await getCollection("blog"))
  .filter(isPostPublished)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <main class="mx-auto max-w-prose">
    <section>
      <ul class="grid grid-cols-2 gap-8">
        {
          posts.map((post, index) => (
            <li class="first:col-span-2">
              <a href={`/blog/${post.slug}/`}>
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  loading={index < 3 ? "eager" : "lazy"}
                  alt=""
                  class="w-full rounded-2xl"
                />
                <h4 class="pt-2 text-2xl font-bold">{post.data.title}</h4>
                <p>
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
