---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="prose mx-auto space-y-8">
    <h1>👋 Hello there!</h1>

    <p>I am Juan Cortelezzi, software developer.</p>

    <p>
      I like to build things that seem interesting in the moment. Not a
      single project of mine is abandoned, they are just paused and I can resume
      them at any point.
    </p>

    <p>Besides that, finishing the project might have not been the reward, maybe it was the friends we made along the way (?)</p>

    <p>Please have a look around.</p>
  </main>
</BaseLayout>
