---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import GithubIcon from "./GithubIcon.astro";
---

<header>
  <nav
    class="mx-auto grid max-w-screen-lg grid-cols-3 rounded-2xl p-4 shadow-lg"
  >
    <h2 class="justify-self-start font-bold"><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex items-center justify-center gap-4 justify-self-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div class="flex items-center gap-2 justify-self-end">
      <!-- <a href="https://twitter.com/astrodotbuild" target="_blank"> -->
      <!--   <span class="sr-only">Follow Astro on Twitter</span> -->
      <!--   <XitterIcon /> -->
      <!-- </a> -->
      <a href="https://github.com/withastro/astro" target="_blank">
        <span class="sr-only">Go to Astro's GitHub repo</span>
        <GithubIcon />
      </a>
    </div>
  </nav>
</header>
